    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo">
        <a target="_blank" rel="noopener noreferrer" 
           href="http://127.0.0.1:8000" class="simple-text logo-normal">
          Bussiness Nexus
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
        {% if request.user.is_authenticated %}

          <!-- <li class="nav-item {% if 'index' in segment %} active {% endif %}">
            <a class="nav-link" href="/ent">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li> -->
          <li class="nav-item {% if 'ent_profile' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'ent_profile' %}">
              <i class="material-icons">person</i>
              <p>User Profile</p>
            </a>
          </li>
          <li class="nav-item {% if 'ent_bussiness' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'ent_bussiness' %}">
              <i class="material-icons">Bussiness</i>
              <p>Bussiness</p>
            </a>
          </li>
          <li class="nav-item {% if 'ent_stocks' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'ent_stocks' %}">
              <i class="material-icons">Stocks</i>
              <p>Stocks</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'logout' %}" >
              <i class="material-icons">directions_run</i>
              <p>Logout</p>
            </a>
          </li>

        

        {% else %}

          
        {% endif %}
        </ul>
      </div>

    </div>
